* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsl(218, 28%, 13%);
}
#main {
  width: 1440px;
  height: 3619px;
}
/*---- HEADER ----*/
header {
  text-align: center;
  background: hsl(217, 28%, 15%);
  height: 1260px;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 80px 90px 80px;
}
#navbar a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  margin-left: 50px;
}
h1 {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 45px;
}
header p {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 30px;
}
header button {
  width: 280px;
  height: 55px;
  border-radius: 27.5px;
  border: none;
  background: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}
/*------ --------*/
#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 280px;
}
.about-item {
  width: 380px;
  height: 210px;
  text-align: center;
  margin-bottom: 90px;
}
.about-item img {
  margin-bottom: 30px;
}
.about-item h3 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 15px;
}
.about.item p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
