* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: hsl(218, 28%, 13%);
}
#main {
  width: 1440px;
  height: 3619px;
}
/*---- HEADER ----*/
header {
  text-align: center;
  background: hsl(217, 28%, 15%) url(images/bg-curvy-desktop.svg) no-repeat;
  background-position: 50% 100%;
  height: 1260px;
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 80px 90px 80px;
}
header a,
footer a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  margin-left: 50px;
  opacity: 0.7;
}
a:hover {
  text-decoration: underline;
  opacity: 1;
}
h1 {
  font-size: 40px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 45px;
}
header p {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 30px;
}
header button {
  width: 280px;
  height: 55px;
  border-radius: 27.5px;
  border: none;
  background: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}
button:hover {
  background: hsl(176, 68%, 64%);
  opacity: 0.7;
}
/*------ --------*/
#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 280px;
}
.about-item {
  width: 380px;
  height: 210px;
  text-align: center;
  margin-bottom: 90px;
}
.about-item img {
  margin-bottom: 30px;
}
.about-item h3 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 15px;
}
.about-item p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.access-anywhere {
  margin-top: 10px;
}

#how-fylo-works {
  display: flex;
  padding: 0 100px;
}
#fylo-text {
  position: relative;
  top: 120px;
  left: 60px;
}
#how-fylo-works p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  opacity: 0.8;
}
#how-fylo-works a {
  color: hsl(176, 68%, 64%);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 20px;
}
#how-fylo-works a:hover {
  color: white;
}

#reviews {
  display: flex;
  height: 575px;
  align-items: center;
  justify-content: space-evenly;
  background: url(images/bg-quotes.png) no-repeat;
  background-position: 5% 30%;
}
.reviews-item {
  width: 360px;
  height: 200px;
  background: hsl(219, 30%, 18%);
  border-radius: 10px;
  padding: 40px 25px 25px 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.person {
  margin-top: 25px;
  display: flex;
}
.name {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 10px;
}
.status {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 8px;
}
.person img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

#early-access {
  width: 860px;
  height: 275px;
  background: hsl(217, 28%, 15%);
  border-radius: 10px;
  position: relative;
  left: 290px;
  top: 115px;
  text-align: center;
  padding: 50px 75px 30px 75px;
}
#early-access h2 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  margin-bottom: 25px;
}
#early-access p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 35px;
}
input {
  width: 480px;
  height: 50px;
  border-radius: 25px;
  border: none;
}
#early-access button {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(90deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}

footer {
  height: 515px;
  background: hsl(216, 53%, 9%);
  padding: 200px 75px 90px 75px;
  display: flex;
  justify-content: space-evenly;
  font-family: "Raleway", sans-serif;
}
.footer-flex {
  display: flex;
}
.footer-flex img {
  height: 15px;
  width: auto;
  margin-right: 10px;
}
#links {
  display: flex;
}
#links div {
  display: flex;
  flex-direction: column;
}
#links a {
  margin-bottom: 15px;
}
#social {
  display: flex;
}
.icon-container {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  padding-top: 4px;
  margin-right: 15px;
}
#contact,
#links,
#social {
  position: relative;
  top: 80px;
}
@media only screen and (max-width: 375px) {
  * {
    max-width: 375px;
  }
  br {
    display: none;
  }
  #main {
    width: 375px;
    height: 4519px;
  }
  header {
    padding: 25px;
    height: 770px;
    background: hsl(217, 28%, 15%) url(images/bg-curvy-mobile.svg) no-repeat;
    background-position: 50% 100%;
  }
  #navbar {
    padding: 0;
    margin-bottom: 50px;
  }
  #navbar img {
    width: 80px;
    height: auto;
  }
  header a,
  footer a {
    margin-left: 10px;
  }
  h1 {
    font-size: 25px;
    line-height: 30px;
  }
  header p {
    font-size: 16px;
  }
  #about {
    padding: 25px;
    grid-template-columns: 1fr;
  }
  .about-item {
    width: 325px;
  }
  .about-item p {
    font-size: 14px;
  }
  #how-fylo-works {
    flex-direction: column;
    padding: 25px;
  }
  #fylo-text {
    position: relative;
    top: 100px;
    left: 0px;
    margin-bottom: 150px;
  }

  #reviews {
    flex-direction: column;
  }
  .reviews-item {
    width: 325px;
    height: 230px;
    margin-bottom: 30px;
  }
  #early-access {
    width: 325px;
    height: 350px;
    padding: 0;
    left: 25px;
  }
  input,
  #early-access button {
    width: 280px;
  }
  footer {
    height: 1000px;
    flex-direction: column;
  }
}
